*
{
  margin: 0px;
  padding: 0px;
}

header{
  background-image:url(route.jpg);
  background-color: #cccccc;
  height: 100vh;
  background-size: cover;
  background-position: top;
}

body{
  background-color: #d3d3d3;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

h1{
  color: black;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin-top: 275px;
}

h2{
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 75px;
}

h3{
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}
